<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>controller.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/auth/*</url-pattern>
    </filter-mapping>
<!--    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>controller.filter.AccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->

    <servlet>
        <servlet-name>ProductionPlanCreateController</servlet-name>
        <servlet-class>controller.plan.ProductionPlanCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductionPlanListController</servlet-name>
        <servlet-class>controller.plan.ProductionPlanListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductionPlanDeleteController</servlet-name>
        <servlet-class>controller.plan.ProductionPlanDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductionPlanUpdate</servlet-name>
        <servlet-class>controller.plan.ProductionPlanUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeCreateController</servlet-name>
        <servlet-class>controller.employee.EmployeeCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeListController</servlet-name>
        <servlet-class>controller.employee.EmployeeListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeUpdateController</servlet-name>
        <servlet-class>controller.employee.EmployeeUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeDeleteController</servlet-name>
        <servlet-class>controller.employee.EmployeeDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeFilterController</servlet-name>
        <servlet-class>controller.employee.EmployeeFilterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanDetailList</servlet-name>
        <servlet-class>controller.detail.PlanDetailList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanDetailCreate</servlet-name>
        <servlet-class>controller.detail.PlanDetailCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanDetailUpdate</servlet-name>
        <servlet-class>controller.detail.PlanDetailUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.home.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>controller.auth.LogOutController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ProductionPlanCreateController</servlet-name>
        <url-pattern>/productionPlan/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductionPlanListController</servlet-name>
        <url-pattern>/productionPlan/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductionPlanDeleteController</servlet-name>
        <url-pattern>/productionPlan/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductionPlanUpdate</servlet-name>
        <url-pattern>/productionPlan/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeCreateController</servlet-name>
        <url-pattern>/employee/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeListController</servlet-name>
        <url-pattern>/employee/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeUpdateController</servlet-name>
        <url-pattern>/employee/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeDeleteController</servlet-name>
        <url-pattern>/employee/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeFilterController</servlet-name>
        <url-pattern>/employee/filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanDetailList</servlet-name>
        <url-pattern>/planDetail/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanDetailCreate</servlet-name>
        <url-pattern>/planDetail/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanDetailUpdate</servlet-name>
        <url-pattern>/planDetail/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
</web-app>
